<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="blog-grid-item" style="height: 200px;">
    <a href="{{ site.baseurl }}{{ post.url }}">
        <div class="card h-100"  style="position: relative; background: center / 100% url('{{ site.baseurl }}{{ post.image }}');">
            <div class="card-footer"  style="background-color: #ffffff; position: absolute;
            bottom: 0;
            width: 100%;">
                <div class="wrapfooter">
                    {% if post.author %}
                    <div class="meta-footer-thumb" style="width: 17%; background: no-repeat center / 100% url('{{site.baseurl}}/{{ author.avatar }}');">
                    </div>
                    <div class="title-date">
                        <span>{{ post.title }}</span>
                        <span class="post-date">{{ post.date | date: "%Y/%m/%d" }}</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
</div>
<!-- end post -->