<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="blog-grid-item" style="">
    <a href="{{ site.baseurl }}{{ post.url }}">
        <div class="card">
            <img class="post-img" src="{{ site.baseurl }}{{ post.image }}">
            <div class="card-footer">
                <div class="wrapfooter">
                    {% if post.author %}
                    <span>{{ post.title }}</span>
                    <div class="title-date" style="flex-direction: row; min-height: 2rem;">
                        <span class="post-date" style="align-self: flex-end;">{{ post.date | date: "%Y/%m/%d" }}</span>
                        <div class="meta-footer-thumb" style="    width: 2rem; margin-top: -0.5rem; background: no-repeat center / 100% url('{{ author.avatar }}');"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
</div>
<!-- end post -->