<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="blog-grid-item" style="">
    <a href="{{ site.baseurl }}{{ post.url }}">
        <div class="card" style="border-radius: 10px;">
            <img src="{{ site.baseurl }}{{ post.image }}" alt="" style="max-width: 30%; margin: 10px; border-radius: 10px;">
            <div class="card-footer"  style="background-color: #ffffff; width: 100%;border-radius: 10px;">
                <div class="wrapfooter" style="height: 100%; padding: 0.5rem 0.5rem 0.5rem 0;">
                    {% if post.author %}
                    <span>{{ post.title }}</span>
                    <div class="title-date" style="flex-direction: row; min-height: 2rem;">
                        <span class="post-date" style="align-self: flex-end;">{{ post.date | date: "%Y/%m/%d" }}</span>
                        <div class="meta-footer-thumb" style="    width: 2rem; margin-top: -0.5rem; background: no-repeat center / 100% url('{{ author.avatar }}');"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
</div>
<!-- end post -->