---

---

.card {
  border-radius: 10px; 
  height: 7rem;
  background-color: transparent;
  box-shadow: 2px 6px 14px -4px #00000040;

  .post-img {
    width: 7rem; 
    height: 7rem;
    flex-grow: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
  }

  .card-footer {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ffffffb8; 
    width: 100%;
    padding-left: 1rem;

    
    .wrapfooter {
      height: 100%; 
      padding: 0.5rem 0.5rem 0.5rem 0;
      color: #16485b;
    }
  }
}

.article-post {
  div.img {
    img {
      max-width: 100%;
    }
  }
}

#js-results-container, #js-results-container a {
  color: #16485b;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

.article-post {
  font-size: 1.1rem;
}

.article-author-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px; 
  font-size: 1rem;
}

.related-posts {
  margin-top: 6rem;
}

.blog-grid-container {
  margin: 2rem auto;
}

a.category {
  text-align: center;
  letter-spacing: 0.5rem;
  color: #105568;
}

img.category-profile {
  border-radius: 50%;
  width: 6rem;
}

.related-posts .badge {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 12px;
  border-width: 0;
  box-shadow: rgba(45,35,66,0.4) 0 2px 4px,rgba(45,35,66,0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #9cb012;
  text-shadow: 0px 0px 0px #b4cc09;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
  letter-spacing: 3px;
}

div.img {
  padding: 0.5rem;
  img {
    border: none;
  }
}

.sitetag {
  color: #133a4c;
  // color: #f5f5f5;
  letter-spacing: 1px;
  font-family: serif;
  font-size: 1.1rem;
  padding: 1rem;
  // background: -webkit-linear-gradient(269deg, #12b6da 0%, #a31fe2 74%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
 }

 body * {
   font-family: serif;
 }

 .form-control {
   border: none;
 }

 .footer {
  //  padding: 0;
   margin-top: 10rem;
   .container {
     width: 100%;
     max-width: 100%;
     padding: 0;
   }
   .site-image {
      // background: no-repeat center / 100% url(/assets/images/footer-bg.jpeg);
      flex-direction: column;
     .navbar-brand {
     }
   }
 }

 .navbar-brand {
  width: 100%;
  text-align: center;
  img {
    width: 5rem;
  }
}